<html>
  <head>
    <title>My Project</title>
    <!--Import Google Icon Font-->
    <!--Import materialize.css | Add links to other css files after next line -->
    <link rel="stylesheet" href="file:///home/askprateek/apps/iot-control-panel/static/style.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
    .hamburger {
      position: relative;
      display: inline-block;
      width: 1.25em;
      height: 0.8em;
      margin-right: 0.3em;
      border-top: 0.2em solid #fff;
      border-bottom: 0.2em solid #fff;
    }

    .hamburger:before {
      content: "";
      position: absolute;
      top: 0.3em;
      left: 0px;
      width: 100%;
      border-top: 0.2em solid #fff;
    }
    </style>
  </head>

  <body>

    <nav class = "black">

      <ul class="right">

      </ul>
      <ul id="slide-out" class="side-nav linepadding">
        <li> <a href="index.html">Home Automation</a>  </li>
        <hr width =80%>
        <li> <a href="security.html">Security</a>  </li>
        <li > <div class="techsupport" ><hr width =80%> <div class="orange "> <a href="techsupport.html">Tech Support</a></div> </div> </li>


      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><img src="images/logo2small.png" style="width: 73px; margin-left: 26px;"></img></a>

    </nav>
    <!-- slider code ends here -->
    <!-- Rooms lights and fans part begins here -->

    <div class = "container ">

      <h4 class ="center" > Room 1 </h4>
      <span class="hamburger"></span>
      <div class="collection">
        <a href="#!" class="collection-item">Light
          <span class="badge">
            <!-- Switch -->
            <div class="switch" >
              <label>
                Off
                <input id ="led1" type="checkbox" onchange="turnon(this.checked, 'led/1/')">
                <span class="lever"></span>
                On
              </label>
            </div>
          </span>
        </a>
        <a href="#!" class="collection-item">Fan
          <span class="badge">
            <!-- Switch -->
            <div class="switch">
              <label>
                Off
                <input id = "fan1" type="checkbox" onchange="turnon(this.checked, 'fan/1/')">
                <span class="lever"></span>
                On
              </label>
            </div>
          </span>
        </a>
      </div>

      <h4 class ="center"> Room 2 </h4>
      <div class="collection">
        <a href="#!" class="collection-item">Light
          <span class="badge">
            <!-- Switch -->
            <div class="switch">
              <label>
                Off
                <input id ="led2" type="checkbox" onchange="turnon(this.checked, 'led/2/')">
                <span class="lever"></span>
                On
              </label>
            </div>
          </span>
        </a>
        <a href="#!" class="collection-item">Fan
          <span class="badge">
            <!-- Switch -->
            <div class="switch">
              <label>
                Off
                <input id ="fan2" type="checkbox" onchange="turnon(this.checked, 'fan/2/')">
                <span class="lever"></span>
                On
              </label>
            </div>
          </span>
        </a>
      </div>

      <h4 class ="center"> Master Switch </h4>
      <div class="collection">
        <a href="#!" class="collection-item">Status
          <span class="badge">
            <!-- Switch -->
            <div class="switch">
              <label>
                Off
                <input type="checkbox" onchange="masterswitch(this.checked)">
                <span class="lever"></span>
                On
              </label>
            </div>
          </span>
        </a>

      </div>
      <div class="row">
        <div class="col s12 center">
          <h4 id="temp"></h4>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <button class="btn" onclick() = "lock('lock/')">Lock Down</button>
        </div>
      </div>

    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="file:///home/askprateek/apps/iot-control-panel/static/jquery.js"></script>
    <script src="file:///home/askprateek/apps/iot-control-panel/static/script.js"></script>
    <script>
    var piserver = "http://172.16.15.239:5000/"
    function lock(data){
      // var master ="http://172.16.15.239:5000/";            //Frontend url without HTTPS
      var master_url = piaserver + data ;
      console.log(master_url);
      $.ajax({ type: "GET",
      url: master_url,
      async: true,

      success : function(data)
      {
        console.log(master_url);
        console.log(data);
      }
    });
  }


  function turnon(bool, link){
    console.log(link);
    var status = 0;
    if (bool){
      status =1;
    }
    console.log(status);
    // var test = "http://172.16.15.239:5000/";  // FRONTEND URL HERE ++++++++++++++++++++++++++++++++++++++++++++++
    var api_url = "/" + link  + status + "/";
    $.ajax({ type: "GET",
    url: api_url,//0.0.0.0
    async: true,
    //  datatype: "json",
    success : function(data)
    {
      console.log(api_url);
      console.log(data);
    }
  });
}
// master switch function begins here
function masterswitch(bool){
  var mcb ;
  if(bool){
    mcb = "allon/";
  }
  else
  {mcb = "alloff/";}
  console.log(mcb);
  // var master ="http://172.16.15.239:5000/";            //Frontend url without HTTPS
  var master_url = piserver + mcb ;
  console.log(master_url);
  $.ajax({ type: "GET",
  url: master_url,
  async: true,

  success : function(data)
  {
    console.log(master_url);
    console.log(data);
  }
});
}
// masterswitch function ends here

$(document).ready(function(){
  $(".button-collapse").sideNav();

  function checkStatus(text){
    var daa;
    console.log(text);
    // var myRand = Math.floor((Math.random()*1000)+1);
    $.ajax({ type: "GET",
    // cache : false,
    url: "/api/",
    // para: myRand,
    async: false,
    datatype: "json",
    // error : function(xhr,error, thrownError){
    //   $('#temp').append(xhr.status+" "+error + " " + thrownError);
    // },
    success : function(data)
    {
      // $("#temp").append("Success");
      daa = JSON.parse(data);
      // console.log(daa);
      var i;
      for (i=0; i<daa.length; i++){
          // console.log(daa[i].fields.type,daa[i].fields.device_id,daa[i].fields.status);
          var device = daa[i].fields.type + daa[i].fields.device_id.toString();
          console.log(device);
          var status = daa[i].fields.status;
          if ( document.getElementById(device).checked!=status ){
            var toggle = document.getElementById(device);
            toggle.checked = !toggle.checked;
          }
      }
      // $("#temp").html(daa);
    }
  });
}

  setInterval(function(){ checkStatus('Checking Device Status'); },1000);

});
</script>
</body>
</html>
